@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  */


/*  */

#homepage {
    background-image: url(/assets/backgrounds/foot.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.style {
    transform: translate();
}

#services {
    background-image: url(/assets/backgrounds/s_image.jpg);
    height: 65vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.wwdo {
    text-align: center;
}

#designHide {
    display: none;
}

#devHide {
    display: none;
}

#prodHide {
    display: none;
}

#contact {
    background-image: url(/assets/backgrounds/c_image.jpg);
    height: 78vh;
    background-size: 100%;
    background-repeat: no-repeat;
}